body{
  margin: 0;
  background: rgb(0, 0, 0);
}
.text-editor{
  background-color: rgba(50,53,59);
  height: 85vh;
  width: 50vw;
  display: inline-block;
  flex-direction: column;
  padding: 0.5rem;
  
}
.container{
  height: 100%;
}
.CodeMirror{
  height: 100% !important;
}
.editor-wrapper{
  overflow: hidden;
  height: 100%;
  flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}
.result{
  display: inline-block;
  width: 42vw;
  height: 85vh;
  vertical-align: top;
  padding: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 3vw;
}
.PRESSME{
    background-color: rgba(50,53,59);
    color: rgb(255, 255, 255);
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    outline: none;
    box-shadow: 0 9px rgb(37, 40, 44);
    margin-left: 40vw;
}
.PRESSME:hover{
  background-color: #900;
  color: white;
}
.PRESSME:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.checkValid{
  color:white;
  text-align: center;
  margin-top: auto;
  width: 25%;
  position: absolute;
  top: 91%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgb(202, 75, 75);
}
.css-18f0176{
  height: 100%;
}
.links {
  width: 20%;
  color: white;
}

.text {
  color: white;
  text-decoration: none !important;
  font-family: monospace;
}
.links{
  margin-top: 0px;
  float: right;
  margin-right: 10%;
  padding-top: 0px;
  width: 30%;
}

.links>span{
  font-size: medium;
  margin-bottom: 0%;
  text-align: center;
}

ul {
  list-style-type: circle;
  columns: 2;
  padding: 0;
  font-size: small;
  margin: 3px;
}
li:hover{
  color:rgb(202, 75, 75);
  font-size: medium;
}
.css-11bc0l7 {
  display: none;
}
.selfLink {
  color: white;
  background-color: red;
}

.allNeeds {
  color: white;
  background-color: red;
}
.cycles {
  color: white;
  background-color: #c46415;
}