body{
  margin: 0;
  background: url("./images/cool-background.png") no-repeat center center fixed;
  background-size: cover;
  overflow: auto;
}
.text-editor{
  height: 65vh;
  width: 35vw;
  display: inline-block;
  flex-direction: column;
  padding: 0.25vw;
  margin-top: 1.77vh;
  margin-left: 1vw;
}
.container{
  height: 100%;
}
.CodeMirror{
  height: 100% !important;
}
.editor-wrapper{
  overflow: hidden;
  max-width: 100vw;
  height: 100%;
  flex-grow: 1;
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  background-color: hsl(225, 6%, 25%);
}
.result{
  display: inline-block;
  width: 49vw;
  height: 85vh;
  vertical-align: top;
  padding: 0.25vw;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 5vw;
}
.PRESSME{
  background: rgb(60, 60, 60);
  /* font-size: 1.3vw; */
  font-size: min(1.3vw, 14px);
  padding: 5px 10px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin: 2px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 1.77vh;
  margin-bottom: 1vh;
}
.PRESSME:hover {
  background: rgb(0, 192, 255);
}

.PRESSME:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.checkValid{
  color:white;
  text-align: center;
  margin-top: auto;
  width: 26vw;
  position: absolute;
  top: 91%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgb(202, 75, 75);
}
.css-18f0176{
  height: 100%;
}
.text {
  color: black;
  text-decoration: none !important;
  font-family: monospace;
}
.links{
  margin-top: 0px;
  float: right;
  margin-right: 0;
  padding-top: 0px;
  width: 15vw;
  font-weight: bold;
  z-index: -1 !important;
}

.links>span{
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0%;
  text-align: center;
}

ul {
  list-style-type: circle;
  columns: 2;
  padding: 0;
  font-size: small;
  margin: 3px;
}
li:hover{
  color:rgb(202, 75, 75);
  font-size: medium;
}
.css-11bc0l7 {
  display: none;
}
.selfLink {
  color: white;
  width: 37.7vw;
  margin-left: 0.2vw;
  margin-bottom: 0.2vw;
  background-color: red;
  text-align: center;
}

.allNeeds {
  margin-left: 0.2vw;
  margin-bottom: 0.2vw;
  color: white;
  width: 37.7vw;
  background-color: red;
  text-align: center;
}
.cycles {
  width: 37.7vw;
  margin-left: 0.2vw;
  margin-bottom: 0.2vw;
  color: white;
  background-color: #c46415;
  text-align: center;
}
.backgr {
  position: absolute;
  width: 100%;
}
.css-vr1t9p {
  background: none !important;
}
/* .css-zvyh9f {
  background-color: black !important;
} */

.result.smaller {
  display: none;
}
.biggest {
  width: 100vw !important; 
}
.text-editor.smaller {
  width: 15vw;
}

.bigger {
  width: 100%;
  z-index: 999 !important;
}
.matrix {
  height:50vh;
  width:30vw;
}
.popup-content {
  margin: auto;
  color: white !important;
  background: rgb(37, 1, 1) !important;
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 30vw !important;
  height: auto !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
