body {
  margin: 0;
  /* background: url("./images/cool-background.png") no-repeat center center fixed; */
  background-color: #181818;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%238d8d8d' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
  grid-template-rows: 3vh 83vh;
}

.text-editor {
  height: 70vh;
  width: 40.2vw;
  padding: 0.25vw;
  margin-top: 6vh;
  margin-left: 1vw;
  grid-column: 1;
  grid-row: 2;
}

.container {
  height: 100%;
}

.CodeMirror {
  height: 100% !important;
}

.editor-wrapper {
  overflow: hidden;
  max-width: 100vw;
  height: 100%;
  flex-grow: 1;
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  background-color: hsl(225, 6%, 25%);
}

.result {
  width: 55vw;
  height: 85vh;
  vertical-align: top;
  padding: 0.25vw;
  margin-top: 0.3vh;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 1.8vw;
  grid-column: 2;
  grid-row: 1;
}

.buttonsWrapper {
  margin-left: 1vw;
  grid-column: 1;
  grid-row: 1;
}

.PRESSME {
  background: rgb(60, 60, 60);
  font-size: min(calc(6px + 0.7vw), 14px);
  padding: 5px 10px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin: 2px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 1.34vh;
  margin-left: 1vh;
}

.PRESSME:hover {
  background: hsl(195, 100%, 50%);
}

.PRESSME:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.checkValid {
  color: white;
  text-align: center;
  margin-top: auto;
  width: 26vw;
  position: absolute;
  top: 91%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgb(202, 75, 75);
}

.css-18f0176 {
  height: 100%;
}

.text {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  text-decoration: none !important;
  font-family: monospace;
}

.links {
  float: right;
  margin-right: 0;
  width: 15vw;
  z-index: -1 !important;
}

.links > span {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0%;
  text-align: center;
}

ul {
  list-style-type: circle;
  columns: 2;
  padding: 0;
  font-size: small;
  margin: 3px;
}

li:hover {
  color: rgb(202, 75, 75);
  font-size: medium;
}

.css-11bc0l7 {
  display: none;
}

.selfLink {
  color: white;
  width: 37.7vw;
  margin-left: 0.2vw;
  margin-bottom: 0.2vw;
  background-color: red;
  text-align: center;
}

.allNeeds {
  margin-left: 0.2vw;
  margin-bottom: 0.2vw;
  color: white;
  width: 37.7vw;
  background-color: red;
  text-align: center;
}

.cycles {
  width: 37.7vw;
  margin-left: 0.2vw;
  margin-bottom: 0.2vw;
  color: white;
  background-color: #c46415;
  text-align: center;
}

.backgr {
  position: absolute;
  width: 100%;
}

.css-vr1t9p {
  background: none !important;
}

.result.smaller {
  display: none;
}

.text-editor.smaller {
  display: none;
}

.bigger {
  /* width: 100%;
  z-index: 999 !important; */
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 90vw;
  height: 80vh;
  margin-left: 4.5vw;
}

.matrix {
  height: 50vh;
  width: 30vw;
}

.popup-content {
  margin: auto;
  color: white !important;
  background: rgb(37, 1, 1) !important;
  width: 50%;
  padding: 5px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
  width: 30vw !important;
  height: auto !important;
  box-shadow: rgba(0, 0, 0, 0.16) 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
