body{
  margin: 0;
  background: black;
}
.text-editor{
  background-color: rgb(39,40,34);
  height: 85vh;
  width: 50vw;
  display: inline-block;
  flex-direction: column;
  padding: 0.5rem;
  
}
.container{
  height: 100%;
}
.CodeMirror{
  height: 100% !important;
}
.editor-wrapper{
  overflow: hidden;
  height: 100%;
  flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}
.result{
  display: inline-block;
  width: 42vw;
  height: 85vh;
  vertical-align: top;
  padding: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 3vw;
}
.PRESSME{
    background-color: slategray;
    color: black;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    outline: none;
    box-shadow: 0 9px #999;
    margin-left: 40vw;
}
.PRESSME:hover{
  background-color: #900;
  color: white;
}
.PRESSME:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.checkValid{
  color:white;
  text-align: center;
  margin-top: auto;
  width: 25%;
  position: absolute;
  top: 91%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgb(202, 75, 75);
}
.css-18f0176{
  height: 100%;
}
.links {
  width: 50%;
  color: white;
}

.text {
  color: white;
  text-decoration: none !important;
  font-family: monospace;
}

ul {
  list-style-type: circle;
}